<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP11.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a076d053999.js"></script>
</head>
<body>
    @if(ViewBag.NavBar == null){
        <nav>
            <div class="nav-logo">
                <a href='@Url.Action("Creditos")'>
                    <img class = "img-logo" src="/img-autos/Autos_logo.png">
                </a>
            </div>
            <ul class="nav-links">
                <li class="link"><a href='@Url.Action("Home")'>Home</a></li>
                <li class="link"><a href='@Url.Action("Usuario")'>Perfil</a></li>
                <li id="link2" class="link"><a href="#">Alquilar</a></li>
                <li id="link3" class="link"><a href='@Url.Action("CargarAuto")'>Vender</a></li>
            </ul>
            <form action='@Url.Action("ProductoBuscado")' class="d-flex" role="search">
                <div class=box>
                    <input type="search" placeholder="Buscar" aria-label="Buscar" name="producto" value="">
                    <a href='#'>
                        <i class = "fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </form>
        </nav>
    }

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
