<link rel="stylesheet" href="home.css">
<div class="mainAutos">
    @{
        for(int i = 0; i < @ViewBag.ListaAutos.Count; i++)
        {
            <div class="card">
                <img src="@ViewBag.ListaAutos[i].Imagen" alt="img" style="width:100%">
                <div class="containerCard">
                    <h4>@ViewBag.ListaModelos[@ViewBag.ListaAutos[i].IdModelo].NombreModelo</h4>
                    <p>@ViewBag.ListaAutos[i].Anio</p>
                    <p>@ViewBag.ListaAutos[i].Kilometraje</p>
                </div>
            </div>
        }
    }
</div>