<link rel="stylesheet" href="~/css/home.css">

@if(ViewBag.ListaAutos != null){
  <div class="mainAutos">
    @{
        foreach(Auto auto in @ViewBag.ListaAutos)
        {
            <div class="card">
                <img src="/wwwroot/img-autos/@auto.Imagen" alt="img" style="width:100%">
                <div class="containerCard">
                    <h4>@BD.ObtenerNombreModelo(@auto.IdModelo)</h4>
                    <p>Año: @auto.Ano</p>
                    <p>Kilometraje: @auto.Kilometraje</p>
                </div>
            </div>
        }
      }
</div>


