<link rel="stylesheet" href="~/css/home.css">
<div class="home">
    <ul>
        <li>
            @if(ViewBag.ListaAutos != null){
                <div class="mainAutos">
                    @{
                        foreach(Auto auto in @ViewBag.ListaAutos)
                        {
                            <div class="card">
                                <img src="/img-autos/@auto.Imagen" alt="img" style="width:100%">
                                <div class="containerCard">
                                    <h4>@BD.ObtenerNombreModelo(@auto.IdModelo)</h4>
                                    <p>Año: @auto.Ano</p>
                                    <p>Kilometraje: @auto.Kilometraje</p>
                                </div>
                            </div>
                        }
                    }
                </div>  
            }

        </li>
            
        <li>
            <form action='@Url.Action("Filtro")'>
                <select name="id">
                    @{
                        for (int i = 0; i < ViewBag.ListaColores.Count; i++)
                        {
                            <option value="@ViewBag.ListaColores[i].IdColor">@ViewBag.ListaColores[i].NombreColor</option>
                        }
                    }
                </select>
             <input type="submit" name="filtro" value="color">
            </form>
            <form action='@Url.Action("Filtro")'>
                <select name="id">
                    @{
                        for (int i = 0; i < ViewBag.ListaMarcas.Count; i++)
                        {
                            <option value="@ViewBag.ListaMarcas[i].IdMarca">@ViewBag.ListaMarcas[i].NombreMarca</option>
                        }
                    }
                </select>
             <input type="submit" name="filtro" value="marca">
            </form>
            <form action='@Url.Action("Filtro")'>

                <input type="submit" name="filtro" value="direccion">
            </form>
            <form action='@Url.Action("Filtro")'>

                <input type="submit" name="filtro" value="transmision">
            </form>
        </li>
    </ul>
    
</div>



