<link href="home.css" rel="stylesheet">
<div class="container">
    <div class="row" id="ads">
    @{
        for(int i = 0; i < @ViewBag.ListaAutos.Count; i++)
        {
            <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Low KMS</span>
                    <span class="card-notify-year">@ViewBag.ListaAutos[i].Anio</span>
                    <img class="img-fluid" src="@ViewBag.ListaAutos[i].Imagen" alt="auto" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Used</span>
                    <span class="card-detail-badge">@ViewBag.ListaAutos[i].Precio</span>
                    <span class="card-detail-badge">@ViewBag.ListaAutos[i].Kilometraje</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Modelo</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        }
    }
    <form action='@Url.Action("ProductoBuscado")'>
        <input type="text" name="producto" value="">
        <input type="submit">
    </form>
    </div>
</div>