<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="home">
    <div class="filtros">
        <ul>
        <li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar Color
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @{
                        for (int i = 0; i < ViewBag.ListaColores.Count; i++)
                        {   
                            <div class = "contenedor">
                                <a class = "enlace" href='@Url.Action("filtro", new {filtro = "Color", Id = @ViewBag.ListaColores[i].IdColor, ListaAutosPervia = @ViewBag.ListaAutos})'>@ViewBag.ListaColores[i].NombreColor</a>
                            </div>
                        }
                    }
                </div>
            </div>
        <li>

        <li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar Marca
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @{
                        for (int i = 0; i < ViewBag.ListaMarcas.Count; i++)
                        {   
                            <div class = "contenedor">
                                <a class = "enlace" href='@Url.Action("filtro", new {filtro = "Marca", Id = @ViewBag.ListaMarcas[i].IdMarca})'>@ViewBag.ListaMarcas[i].NombreMarca</a>
                            </div>
                        }
                    }
                </div>
            </div>
        <li>

        <li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar Direccion
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @{
                        for (int i = 0; i < ViewBag.ListaDirecciones.Count; i++)
                        {   
                            <div class = "contenedor">
                                <a class = "enlace" href='@Url.Action("filtro", new {filtro = "Direccion", Id = @ViewBag.ListaDirecciones[i].IdDireccion})'>@ViewBag.ListaDirecciones[i].NombreDireccion</a>
                            </div>
                        }
                    }
                </div>
            </div>
        <li>

        <li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar Transmision
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @{
                        for (int i = 0; i < ViewBag.ListaTransmisiones.Count; i++)
                        {   
                            <div class = "contenedor">
                                <a class = "enlace" href='@Url.Action("filtro", new {filtro = "Transmision", Id = @ViewBag.ListaTransmisiones[i].IdTransmision})'>@ViewBag.ListaTransmisiones[i].NombreTransmision</a>
                            </div>
                        }
                    }
                </div>
            </div>
        <li>
        </ul>
    </div>

    @if(ViewBag.ListaAutos.Count > 0){
        <div class="mainAutos">
            @{
                foreach(Auto auto in @ViewBag.ListaAutos)
                {
                    @if(auto.Disponible == true){
                    <div class="card">
                        <img src="/img-autos/@auto.Imagen" alt="img" style="width:100%">
                            <div class="containerCard">
                                <h4>@BD.ObtenerNombreModelo(@auto.IdModelo, null)</h4>
                                <p>Año: @auto.Ano</p>
                                <p>Kilometraje: @auto.Kilometraje km</p>
                                <a href="#" id="botonModal" class="btn btn-primary" data-toggle="modal" data-target="#ModalInformacion" onclick="MostrarAuto(@auto.IdAuto)">Más info</a>
                                <a type="submit" class="btn btn-primary" data-dismiss="modal" id="ComprarBoton" href='@Url.Action("ActualizarAuto", new{idAuto = @auto.IdAuto})'>Comprar</a>
                            </div>
                    </div>
                    }
                }
            }
        </div>  
    }
    else{ //Caso de que no se encuentren vehiculos para mostrar, falta terminar el boton.
        <div class="mainAutos">No hay vehiculos para mostrar</div>
        <div class="filtroserror">
            <a type="submit" class="btn btn-primary recargarButton" href='@Url.Action("Home")' >Recargar Filtros</a>
        </div>
        
    }
    
    <div class="modal" tabindex="-1" role="dialog" id="ModalInformacion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 id="titulo"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="infoAuto">
                <img id="imagen">
                <span id="anio"></span>
                <span id="km"></span>
                <span id="matricula"></span>
                <span id="Asientos"></span>
                <span id="Motor"></span>
                <span id="Aire"></span>
                <span id="ABS"></span>
                <span id="Airbag"></span>
                <span id="Color"></span>
                <span id="Transmision"></span>
                <span id="Direccion"></span>
                <span id="Marca"></span>
                <span id="Precio"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
    </div>
</div>   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>