<link rel="stylesheet" href="~/css/home.css">
<div class="home">
    <ul>
        <li>
            @if(ViewBag.ListaAutos != null){
                <div class="mainAutos">
                    @{
                        foreach(Auto auto in @ViewBag.ListaAutos)
                        {
                            <div class="card">
                                <img src="/img-autos/@auto.Imagen" alt="img" style="width:100%">
                                <div class="containerCard">
                                    <h4>@BD.ObtenerNombreModelo(@auto.IdModelo)</h4>
                                    <p>Año: @auto.Ano</p>
                                    <p>Kilometraje: @auto.Kilometraje</p>
                                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ModalInformacion" onclick="masInfo(@auto.IdAuto)">Más info</a>
                                </div>
                            </div>
                        }
                    }
                </div>  
            }

        </li>
            
        <li>
            <form action='@Url.Action("Filtro")'>
                <select name="id">
                    @{
                        for (int i = 0; i < ViewBag.ListaColores.Count; i++)
                        {
                            <option value="@ViewBag.ListaColores[i].IdColor">@ViewBag.ListaColores[i].NombreColor</option>
                        }
                    }
                </select>
             <input type="submit" name="filtro" value="color">
            </form>
            <form action='@Url.Action("Filtro")'>
                <select name="id">
                    @{
                        for (int i = 0; i < ViewBag.ListaMarcas.Count; i++)
                        {
                            <option value="@ViewBag.ListaMarcas[i].IdMarca">@ViewBag.ListaMarcas[i].NombreMarca</option>
                        }
                    }
                </select>
             <input type="submit" name="filtro" value="marca">
            </form>
            <form action='@Url.Action("Filtro")'>
                @{
                    for(int i = 0; i < ViewBag.ListaDirecciones.Count; i++)
                    {
                        <label>
                            <input type="radio" name="id" value="@ViewBag.ListaDirecciones[i].IdDireccion">
                            @ViewBag.ListaDirecciones[i].NombreDireccion
                        </label>
                    }
                }
                <input type="submit" name="filtro" value="direccion">
            </form>
            <form action='@Url.Action("Filtro")'>
                @{
                    for(int i = 0; i < ViewBag.ListaTransmisiones.Count; i++)
                    {
                        <label>
                            <input type="radio" name="id" value="@ViewBag.ListaTransmisiones[i].IdTransmision">
                            @ViewBag.ListaTransmisiones[i].NombreTransmision
                        </label>
                    }
                }
                <input type="submit" name="filtro" value="transmision">
            </form>
        </li>
    </ul>
    
    <div class="modal" tabindex="-1" role="dialog" id="ModalInformacion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 id="titulo"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul id="infoAuto">
                <li id="anio"></li>
                <li id="km"></li>
                <li id="matricula"></li>
                <li id="Asientos"></li>
                <li id="Motor"></li>
                <li id="Aire"></li>
                <li id="ABS"></li>
                <li id="Airbag"></li>
                <li id="Color"></li>
                <li id="Transmision"></li>
                <li id="Direccion"></li>
                <li id="Marca"></li>
                <li id="Modelo"></li>
                <li id="Precio"></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
</div>



